    .logOut {
        margin-top: 40px;
    } 

    table {
    display: table;
    border-collapse: collapse;
    }
    
    th, td {
        border: 1px solid black;  
        border-collapse: collapse;        
    }

    .buttomOut {
        display: flex;
        flex-wrap: wrap;
        margin-right: 50px;
        flex-direction: row-reverse;
    }

    .main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    