.mySpace {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    }


    .logOut {
        margin-top: 40px;
    } 

    table {
    display: table;
    border-collapse: collapse;
    }
    
    th, td {
        border: 1px solid black;  
        border-collapse: collapse;        
    }

    .buttomOut {
        display: flex;
        flex-wrap: wrap;
    }